.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
          width: 200px;
        
        }
.maintitle{
    text-align: center


}
.square{
    background-color: #fdfbf1 ;
    border-color: #f2c205 ;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.h5{
    font-size: 0.8em;
    color: #004d4b;

}
.main{    
    max-width: 900px;
    margin: auto;
}
.title{
    text-align: center;
}
.img{
    text-align: center;
}