.body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.logo {
  width: 200px;
}
.maintitle {
  text-align: center;
}
.square {
  background-color: #fdfbf1;
  border-color: #f2c205;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  margin: 0%;
}
h5 {
  font-size: 0.8em;
  color: #004d4b;
}
main {
  max-width: 600px;
  margin: auto;
}
.title {
  text-align: center;
}
.sidetitle {
  font-size: 0.9em;
}
.img {
  text-align: center;
}
.img img {
  height: 400px;
  width: 600px;
  object-fit: cover;
  border-radius: 20px;
}
.featured {
  margin-bottom: 0px;
  padding-left: 16px;
  color: #b5460f;
}
.cranberry {
  margin-top: 0px;
  padding-left: 1em;
}
.cranberry a {
  color: #107777;
}
.featcran {
  border-left: 2px solid #f2c205;
}
.ingredients p {
  font-size: 2em;
  border-bottom: 2px solid#C3F3F1;
  padding-bottom: 0.5em;
}
div ul li {
  line-height: 2em;
}
.method p {
  font-size: 2em;
  border-bottom: 2px solid#C3F3F1;
  padding-bottom: 0.5em;
}
footer {
  max-width: 600px;
  margin: auto;
}
footer a {
  color: #107777;
}
